<div class="btn-group-vertical" role="group" aria-label="..." style=";margin-left:2%;margin-top:10%;">
  <a href="/user/<%= @user.id %>/foods/new" aria-label="Left Align" class="btn btn-default">
  New Meal I ate
  </a>
  <a href="/user/<%=@user.id%>/meds/new" aria-label="Left Align" class="btn btn-default">
  New Meds I took
  </a>  
  <a href="/user/<%=@user.id%>/measurements/new" aria-label="Left Align" class="btn btn-default">
  New Measurement
  </a>
  <a href="/user/<%=@user.id%>/edit" aria-label="Left Align" class="btn btn-default">
  Update Profile
  </a>
</div>

<div class="container" style="border:2px solid black;width:70%;margin-left:200px;margin-top:-100px">
  <div class="row">
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total protein intake:
    </div>
    <div class="col-md-3">
    Total fat intake:
    </div>
    <div class="col-md-3">
    Current BMI:
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    2041 
    </div>
    <div class="col-md-3">
    12mg  
    </div>
    <div class="col-md-3">
    24kg
    </div>
    <div class="col-md-3">
  

    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
    Average calorie/day:
    </div>
    <div class="col-md-3">
    Average protein/day:
    </div>
    <div class="col-md-3">
    Average fat/day:
    </div>
    <div class="col-md-3">
    
    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
    12
    </div>
    <div class="col-md-3">
    23
    </div>
    <div class="col-md-3">
    12
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
