
 

<div class="btn-group-vertical" role="group" aria-label="..." style=";margin-left:2%;margin-top:10%;">
  <button type="button" class="btn btn-default" aria-label="Left Align">
  New Meal I ate
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align">
  New Meds I took
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align">
  New Measurement
  </button>
</div>

<div class="container" style="border:2px solid black;width:70%;margin-left:200px;margin-top:-100px">
  <div class="row">
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total protein intake:
    </div>
    <div class="col-md-3">
    Total fat intake:
    </div>
    <div class="col-md-3">
    Current BMI:
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    2041 
    </div>
    <div class="col-md-3">
    12mg  
    </div>
    <div class="col-md-3">
    24kg
    </div>
    <div class="col-md-3">
    25.1
    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
    <div class="col-md-3">
    Total calorie intake:
    </div>
  </div>
</div>
